.gitignore
carepd/*
.history/*
assets/dataset*
assets/Pretrain*
*.DS_Store*
*.pyc
docs/._diagram.png
reports/*
assets/preprocessed_data/*
experiment_outs/*
wandb/*pretext/momask/checkpoints/t2m/text_mot_match/model/finest.tar
pretext/momask/checkpoints/t2m/text_mot_match/model/finest.tar
wandb/*
assets/*

# GaitVAE
model/gaitvae/*
configs/gaitvae/*
scripts/visualize_gaitvae.py
train_gaitvae.py

artifacts/shap_gifs/*
artifacts/viz_best/*
artifacts/actor_recon_gifs_*

logs/*
results/*
docs/metrics_and_baselines*